/* Dark theme */
body {
    font-family: "HelveticaNeue-Light", Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #0c0c0c;
    color: #e0e0e0;
    margin: 0;
}

.container {
    text-align: center;
}

h1 {
    font-family: "HelveticaNeue-Light", 'Montserrat', sans-serif;
    font-size: 4em;
    font-weight: 580;
    letter-spacing: 1.5px;
    line-height: 1.5;
    color: #ff566f;
    animation: fadeIn1 1.5s ease-in-out;
}

@keyframes fadeIn1 {
    0% { opacity: 0; transform: translateY(-20px); }
    100% { opacity: 1; transform: translateY(0); }
}

.status {
    font-size: 2.0em;
    margin-top: 5px;
    display: inline-block;
    color: #f0f0f0;
}

.gif {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    animation: fadeIn2 1.5s ease-in-out;
}

.terminal-container {
    display: flex;
    justify-content: center;
    width: 100%;
    animation: fadeIn1 1.5s ease-in-out;
}
.terminal-box {
    height: 50px;
    background-color: #333333; /* Dark background for the terminal */
    color: #e8eab5; /* Green text color */
    padding: 20px 30px;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    font-family: 'Courier New', Courier, monospace;
    width: 80%;
    max-width: 600px;
    text-align: left;
    position: relative;
}

/* Optional styling for terminal "title bar" */
.terminal-box::before {
    font-size: 0.7em;
    content: "$"; /* Command prompt */
    color: #e8eab5;
    font-weight: bold;
    margin-right: 8px;
}

.typed-text {
    font-size: 0.7em;
    white-space: pre;
    display: inline-block;
    color: #f2fcfa;
}

.cursor {
    font-weight: bold;
    color: #00ffcc;
    animation: blink 0.7s infinite step-end;
}

@keyframes blink {
    from, to { opacity: 1; }
    50% { opacity: 0; }
}

.image img {
    margin-top: 20px;
    width: 300px;
    height: auto;
    border: 3px solid #00ffcc; /* Adding a border to match the theme */
}

@keyframes fadeIn2 {
    0% { opacity: 0; transform: translateY(20px); }
    100% { opacity: 1; transform: translateY(0); }
}

.links a {
    margin: 0 12px;
    font-size: 1.0em;
    text-decoration: none;
    color: #fb9f9fbb;
    animation: fadeIn2 1.5s ease-in-out;
}

.links a:hover {
    color: #ff7b00;
}
